@charset "UTF-8";
/*共通設定*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*テキスト*/
html {
  font-size: 4vw;
}

@media (min-width: 768px) {
  html {
    font-size: 2.5vw;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 1.7vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 1.1vw;
  }
}
body {
  font-family: "Zen Maru Gothic", sans-serif;
  color: #333;
  background-color: #fffef3;
}

h1,
h2,
nav li,
.title p {
  font-family: "Unbounded", sans-serif;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
  color: rgb(47, 175, 52);
}

h2 {
  font-size: 2.7rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  color: rgb(47, 175, 52);
}

.white {
  color: #fffef3;
}

h3 {
  font-size: 1.7rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  opacity: 0.6;
  transition: 0.8s;
  color: rgb(47, 175, 52);
}

/*レイアウトの設定*/
img {
  width: 100%;
  height: auto;
}

/*containerの設定*/
.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .container {
    width: 1100px;
    margin: 0 auto;
  }
}
section {
  padding: 3rem 0;
}
section:nth-child(odd) {
  background-color: rgb(47, 175, 52);
}

/*nav設定*/
.nav {
  position: fixed;
  right: 1rem;
  top: 1rem;
}
.nav ul {
  display: inline-block;
}
.nav ul li {
  line-height: 2rem;
}

/*HOME設定*/
.home {
  margin: 3rem 2rem 3rem 1rem;
  display: block;
  word-break: break-all;
}
.home h1 {
  font-size: 3rem;
  text-align: center;
}
.home h2 {
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 1100px) {
  .home {
    overflow: hidden;
  }
  .home img {
    width: 50%;
    float: left;
  }
  .home h1 {
    font-size: 9rem;
    text-align: left;
  }
  .home h2 {
    font-size: 3rem;
  }
}
/*about設定*/
.about .item {
  background-color: #fffef3;
}
.about .item h3 {
  border-bottom: solid 1px gray;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.about .item .content_text {
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.about .item .content_text h4 {
  margin-bottom: 0.5rem;
}

@media (min-width: 900px) {
  .about .container {
    display: flex;
    justify-content: center;
  }
  .about .item:last-child {
    padding-left: 1rem;
  }
}
/*SKILL設定*/
.skill h3 {
  color: rgb(47, 175, 52);
}
.skill .item {
  width: 100%;
  margin: 0.6rem;
}
.skill .item h3 {
  text-align: center;
}
.skill .item li {
  list-style-type: none;
  line-height: 3.6rem;
  font-size: 2rem;
}

@media (min-width: 900px) {
  .skill .item {
    width: 40%;
  }
  .skill .container {
    display: flex;
    justify-content: space-evenly;
  }
}
/*WORK設定*/
.work {
  color: #fffef3;
}
.work h3 {
  text-align: center;
}
.work .item {
  width: 100%;
}

@media (min-width: 900px) {
  .container {
    display: flex;
    justify-content: space-around;
  }
  .container .item {
    margin: 2rem;
  }
}
/* CONTACT設定 */
.contact {
  text-align: center;
}
.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .label {
  font-size: 2rem;
}
.contact .email {
  font-size: 3rem;
  margin: 1rem 0;
  word-break: break-all;
  width: 100%;
}

/* footer設定 */
footer {
  background-color: rgb(47, 175, 52);
  color: #fffef3;
  text-align: center;
  padding: 2rem 0;
}

/*遷移先のページ設定*/
.banner,
.others {
  background-color: #fffef3 !important;
}
.banner h3,
.others h3 {
  color: rgb(47, 175, 52);
  font-size: 2.3rem;
  margin-bottom: 0.7rem;
}

.contents {
  border-bottom: rgb(47, 175, 52) dotted 2px;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.contents:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.contents .jouken {
  font-size: 1.1rem;
}
.contents ul {
  padding: 0 0 1rem 3rem;
}
.contents figure {
  margin-bottom: 1rem;
}
.contents figure figcaption {
  margin: 1rem auto;
}

.banner img {
  width: 70%;
  height: auto;
}

.others img {
  width: 50%;
  height: auto;
}/*# sourceMappingURL=style.css.map */