@charset "utf-8";

/* リセットCSS */
html * {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

/* 基本設定 */
.container,
footer {
	background-color: #fffef3;
	width: 1200px;
	margin: 0 auto;
	font-family: "Yu Gothic", YuGothic, Helvetica, Arial,
		"Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
		Meiryo, メイリオ, sans-serif;
	color: #333333;
}

/* 共通設定 */
.about h1,
.skill h1,
.works h1,
.contact h1 {
	font-size: 60px;
	text-align: center;
	padding: 40px 0 30px 0;
}

.banner h1,
.others h1 {
	font-size: 60px;
	text-align: center;
	padding: 10px 0 30px 0;
}

.about h1,
.works,
footer {
	color: #fffef3;
}

.home h1,
.skill h1,
.skill h3,
.contact h1,
.banner h1,
.others h1 {
	color: rgb(47, 175, 52);
}

/* メニュー設定 */
nav {
	width: 100px;
	position: sticky;
	top: 20px;
	left: 1150px;
}

nav ul {
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color: rgb(40, 40, 40);
	line-height: 2em;
	font-size: 18px;
	font-weight: bold;
}

nav ul li a:hover {
	color: green;
}

/* HOME設定 */
.title p {
	font-weight: bold;
}

.home {
	margin: -150px auto 0 50px;
	height: 600px;
}

.home img {
	float: left;
}

.home title {
	float: right;
}

.home h1 {
	margin-left: 520px;
	font-size: 120px;
}

.home p {
	margin-left: 520px;
	font-size: 50px;
}

/* ABOUT設定 */
.about {
	clear: both;
	height: 700px;
	background-color: rgb(47, 175, 52);
}

.about img {
	margin-left: 100px;
	float: left;
}

.content {
	float: left;
	width: 200px;
	padding: 10px 50px;

}

.profile {
	overflow: hidden;
	background-color: #fffef3;
	width: 600px;
	height: 500px;
}

.profile h2 {
	border-bottom: solid 1px gray;
	margin: 50px 50px 30px 50px;
}

/* SKILL設定 */
.skill {
	clear: both;
	height: 550px;
}

.skill_list ul li {
	padding-left: 30px;
	list-style-type: none;
	line-height: 2em;
	font-size: 30px;
}

.skill_list h3 {
	padding: 20px 0 10px 40px;
}

.skill_matome {
	margin: 0 200px;
}

.skill_list {
	float: left;
	width: 400px;
}

/* WORKS設定 */
.works {
	height: 770px;
	background-color: rgb(47, 175, 52);
	overflow: hidden;
}

.work_contents {
	width: 300px;
	float: left;
	margin: 0 50px;
}

.work_contents h2 {
	line-height: 2em;
	text-align: center;
}

.work_contents img:hover {
	opacity: 0.6;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
	transform: translateY(-0.1875em);
}

/* CONTACT設定 */
.contact {
	height: 400px;
	text-align: center;
}

.contact p {
	font-size: 30px;
}

.contact span {
	margin: 20px;
	font-size: 40px;
}

/* footer設定 */
footer {
	background-color: rgb(47, 175, 52);
	text-align: center;
	line-height: 4em;
}

/*banner設定*/
.banner {
	width: 900px;
	margin: 0 auto;
}

.banner .banner_contents h2 {
	line-height: 2em;
	text-align: center;
	background-color: rgb(47, 175, 52);
	color: #fffef3;
	margin-bottom: 20px;
}

.banner .jouken {
	font-weight: bold;
	padding: 30px 0 0 20px;
}

.banner .banner_contents ul {
	padding-left: 50px;
}

.banner_contents figure {
	margin: 20px 0;
}

/*others設定*/
.others {
	width: 900px;
	margin: 0 auto;
}

.others img {
	width: 300px;
}

.others .other_contents h2 {
	line-height: 2em;
	text-align: center;
	background-color: rgb(47, 175, 52);
	color: #fffef3;
	margin-bottom: 20px;
}

.other_contents {
	overflow: hidden;
}

.other_contents figure {
	margin: 20px 30px;
	float: left;

}
