@charset "utf-8";
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.4;
}

p {
	margin: 0 0 20px 0;
}

img {
	border: 0;
}

a {
	color: #51c45c;
}

a:hover {
	color: #d1d1d1;
}

header h1 a {
	display: inline-block;
	vertical-align: bottom;
}

header h1 a img {
	vertical-align: bottom;
}

.path ol {
	list-style-type: none;
	padding: 0;
}

.path ol li {
	display: inline;
	margin-right: 5px;
}

.path ol li a {
	padding-right: 15px;
	background-image: url(../images/path_arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.contents {
	overflow: hidden;
}

.pagetop {
	margin-bottom: 0;
	float: right;
}

.pagetop a {
	display: block;
	min-height: 16px;
	padding: 6px 0 6px 28px;
	background-image: url(../images/bg_arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

address {
	color: #ffffff;
	padding: 10px;
	clear: both;
	background-color: #685939;
	font-style: normal;
	text-align: center;
}

.copyright {
	text-align: center;
	background-color: #685939;
	color: #ffffff;
	line-height: 3em;
}

.copyright small {
	font-size: 100%;

}
