@charset "UTF-8";

/* リセットCSS */
html * {
	margin: 0;
	padding: 0;
}

/* 基本設定 */
html {
	scroll-behavior: smooth;
}

body {
	font-family: "Zen Maru Gothic", sans-serif;
	line-height: 1.4;
	font-size: 87%;
	background-color: #fffcdd;
	color: #666666;
}

nav,
h1 {
	font-family: "Dosis", sans-serif;
	font-size: 100%;
}

header,
nav,
.path,
.contents,
footer {
	width: 960px;
	margin: 0 auto;
}

main {
	width: 900px;
	background-color: #ffffff;
	margin: 10px auto;
	padding: 20px;
}

p {
	margin: 0 0 20px 0;
}

img {
	border: 0;
}

a {
	color: #51c45c;
	transition: 0.5s;
}

h1 {
	margin-bottom: 30px;
	padding: 0 40px 5px 45px;
	background-image: url(../images/bg_h1_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 180%;
	border-bottom: 3px solid #685939;
	color: #685939;
}

h2 {
	background-color: #685939;
	margin: 0 0 17px 0;
	padding: 15px 0 15px 30px;
	color: #fffef4;
	border-radius: 10px;
	font-size: 140%;
}

/* ロゴ設定 */
header img {
	margin: 10px 340px 5px 340px;
}

/* メニューバー設定 */
nav ul {
	list-style-type: none;
	margin-bottom: 20px;
	padding-left: 0;
	overflow: hidden;
}

nav ul li {
	line-height: 3em;
	float: left;
	width: 240px;
}

nav ul li a {
	display: block;
	color: #fffef4;
	text-align: center;
	text-decoration: none;
	background-color: #685939;
	transition: 0.5s;
}

.concept .nav_concept a,
.product .nav_product a,
.shop .nav_shop a,
.contact .nav_contact a,
nav ul li a:hover {
	opacity: 0.8;
}

/* パンくずリストの設定 */
.path ol {
	list-style-type: none;
	padding: 0;
}

.path ol li {
	display: inline;
	margin-right: 5px;
}

.path ol li a {
	padding-right: 15px;
	background-image: url(../images/path_arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
}

/* バナー設定 */
sub .banner {
	overflow: hidden;
}

sub .banner figure img {
	float: left;
	margin: 30px 40px 10px 40px;
}

/* トップページ移動ボタン */
.pagetop {
	position: fixed;
	right: 1em;
	bottom: 1em;
}

.pagetop a {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	display: block;
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	font-size: 2.5em;
	background-color: #51c45c;
	border-radius: 1.5em;
	transition: 0.5s;
}

.pagetop a:hover {
	opacity: 0.5;
}


/* footer設定 */
footer {
	color: #fffef4;
	/* padding: 10px 50px; */
	background-color: #685939;
}

address {
	padding: 30px 20px 10px 140px;
	clear: both;
	font-style: normal;
	float: left;
}

footer .sitemap ul {
	list-style-type: none;
	padding: 30px;

}

footer .sitemap ul li a {
	text-decoration: none;
	color: #fffef4;
	text-align: center;
	margin-top: 30px;
	padding: 0 30px;
	border-left: solid #fffef4 2px;
}

footer .sitemap ul li a:hover {
	opacity: 0.6;
}

.copyright {
	line-height: 2em;
	clear: both;
	text-align: center;
}

/* ↓↓↓トップページ設定ここから↓↓↓ */
/* トップ画像設定 */
.top img {
	margin: 5px 40px;
}

/* ニュース設定 */
.news ul {
	width: 880px;
	margin: 0 auto;
	height: 200px;
	overflow-y: scroll;
}

.news ul li {
	list-style-type: none;
	border-bottom: dotted 2px #51c45c;
	margin: 0 10px;
	padding: 20px 0 5px 10px;
}

.news ul li time {
	display: inline-block;
	width: 160px;
	font-weight: bold;
	text-indent: 0;
}

/* ↑↑↑トップページ設定ここまで↑↑↑ */

/* ↓↓↓コンセプトページ設定ここから↓↓↓ */
.concept_area {
	margin-bottom: 30px;
	overflow: hidden;
}

.concept_area:last-child {
	margin-bottom: 0;
}

.concept_area img {
	width: 300px;
}

.photo_right {
	margin: 0 0 10px 20px;
	float: right;
}

/* ↑↑↑コンセプトページ設定ここまで↑↑↑ */

/* ↓↓↓商品ページ設定ここから↓↓↓ */
.product_area {
	overflow: hidden;
}

.product_area:first-of-type {
	margin-top: 30px;
}

.product_area figure img {
	float: left;
}

.product_area figure figcaption {
	width: 150px;
	float: left;
	padding-left: 20px;
}

.product_area figure .product_name {
	font-weight: bold;
}

.product_area figure {
	width: 400px;
	margin: 0 0 15px 10px;
	float: left;
	overflow: hidden;
}

.product_area figure:first-child {
	margin-left: 0;
}

/* ↑↑↑商品ページ設定ここまで↑↑↑ */

/* ↓↓↓店舗情報ページ設定ここから↓↓↓ */
table {
	width: 90%;
	margin: 20px auto;
	border-collapse: collapse;
}

table caption {
	overflow: hidden;
	text-align: left;
}

table caption p {
	margin-bottom: 30px;
}

table th,
table td {
	padding: 15px;
	border: 1px solid #685939;
	text-align: center;
}

table tr th {
	background-color: #51c45c;
	color: #fffef4;
	width: 30%;
}

table tbody tr:nth-child(even) td {
	background-color: #fcffdf;
}

.map {
	width: 90%;
	margin: 10px auto;
}

/* ↑↑↑店舗情報ページ設定ここまで↑↑↑ */

/* ↓↓↓お問い合わせページ設定ここから↓↓↓ */
form p {
	margin-bottom: 30px;
}

form p:nth-last-child(2) {
	margin-bottom: 0;
}

.jouken {
	margin: 0 0 20px 30px;
}

input,
textarea {
	margin-top: 7px;
}

textarea {
	width: 420px;
	height: 115px;
	overflow-y: scroll;
}

input[type="text"] {
	width: 200px;
}

input[type="email"] {
	width: 300px;
}

/* ↑↑↑お問い合わせページ設定ここまで↑↑↑ */